{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static './css/style.css' %}" />
        <title>Landing Page</title>
    </head>
    <body>
        <center>
            <header>SOY UN HERMOSO HEADER</header>
            <ul>
                <li><a href="{%  url 'landing_page' %}">INICIO</a></li>
                <li><a href="{%  url 'nosotros_page' %}">NOSOTROS</a></li>
                <li><a href="{%  url 'contacto_page' %}">CONTACTO</a></li>
            </ul>

            {% block content %} {% endblock %}

            <footer>SOY UN BELLO FOOTER</footer>
        </center>
    </body>
</html>
