{% extends 'base_vinoteca.html' %}

{% block content %}

<main>
    <div class="main-color-vinos">
        <h1>Todos los vinos</h1>
        <h2><a href="{% url 'vinos:create' %}">CREAR VINO</a></h2>
        {% for vino in vino_list%}
        <div class="list">
            <span>
                <p>{{forloop.counter}}</p>
            </span>
            <span>
                <p>{{vino.nombre}}</p>
            </span>
            <span>
                <label for="">Detalle: </label>
                <a href="{% url 'vinos:detail' vino.id %}">+</a>
            </span>
            <span>
                <label for="">Editar: </label>
                <a href="{% url 'vinos:update' vino.id %}">+</a>
            </span>
            <span>
                <label for="">Borrar: </label>
                <a href="{% url 'vinos:delete' vino.id %}">+</a>
            </span>
        </div>

        {% endfor %}
    </div>
</main>
{% endblock %}