
body{
    background-image: url('../media/fondo2.png');
}
main{
    width: 100%;
    background-color: white;
}

h1{
    text-align: center; color: rgba(85, 176, 85, 0.926);
    
}
#logo{
   align-items: center;
     width: 70px;

}

#navegacion{
    background: linear-gradient(180deg, rgba(246,245,249,0.804359243697479) 0%, rgba(67,201,67,1) 100%); 
    font-style: oblique; 
}
#navegacion li:hover{

    transform: scale3d(1.2,1.2,1.2);
    
}
nav li {
    text-align: center;
    display:inline-block;
    width:10%;
    padding:1% 15% 3% 15%;
    
}

section{
    display: flex;
    width: 100%;
    height: 430px;
    
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;

}
section img:hover{
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
.video-container{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    padding: 30px;
}

#plantas{
    text-align: center;
    width: 100%;
    padding: 5% 3%
}
#plantas:hover{
    transform: scale3d(1.01,1.01,1);
    background: linear-gradient(180deg, rgba(246,245,249,0.804359243697479) 0%, rgb(92, 167, 92) 100%); 


}
.formContainer{
    position: absolute;
    text-align: justify;
    padding: 1% 20% 1% 30%;
}

.box{
    border-radius: 3px;
}
#img.pagosSeg{
    padding-left: 65px;
    padding-top: 65px;
    padding-bottom: 65px;
}
 

              
@media (min-width:550px) {
#img.pagosSeg{
      padding-top: 30px;
      padding-bottom: 30px;
    }
    h4{
        text-align: center;
    }
}
#texto-carbono{
    font-size: 1.3rem;
    color: rgb(84, 125, 86);
    padding: 50px;
  }
  
footer{
     
    background-color: rgba(67, 201, 67, 0.487); 
    width: 100%
}

.redes{
    display: grid;
    grid-template-columns: repeat(3,auto);
    padding: 40px;
    text-align: center;
    color: grey;

}
.redes img:hover{
    transform: scale3d(1.8,1.8,1.8);
}

.containersales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:1em;    

}
.prvt{
    width: 100%;
    position: relative;
    flex-wrap: wrap;

    

}
.containersales>div{
    border: solid black;
    width: 90%;

}
.containersales>div>picture>img{
    width: 70%;
}

