@media screen and (max-width: 1000px
){
    
    header{
        display: block;
    }
 
    main form{
        background-color: blue;
    }

    footer h4{
        text-align: left;
        background-color: red;
    }
}
