{% extends "base.html" %} {% block content %}
<br />
<section>
    <img src="./media/slider/hidro1.jpg" alt="" />
    <img src="./media/slider/hidro2.jpg" alt="" />
    <img src="./media/slider/hidro3.jpg" alt="" />
    <img src="./media/slider/hidro4.jpg" alt="" />
    <img src="./media/slider/hidro5.jpg" alt="" />
    <img src="./media/slider/hidro6.jpg" alt="" />
    <img src="./media/slider/hidro7.jpg" alt="" />
    <img src="./media/slider/hidro8.jpg" alt="" />
</section>

<main>
    <div class="video-container">
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/3YW2OP3ADXI"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
        ></iframe>
    </div>

    <div class="grid-container">
        <div id="img.pagosSeg">
            <img
                alt="Pago seguro - imagen "
                width="400"
                height="400"
                src="./media/pagosSeg.webp"
            />
        </div>
        <div id="texto-carbono" class="text">
            <h4>Rumbo a la carbono neutralidad</h4>
            <p>
                Comprar en HidroponiKatz significa apostar a un mundo con menor
                emisión de CO2, <br />
                y ahorre con una huerta en casa y disminuirá las emisiones de
                gases de efecto invernadero <br />populadas al planeta.
            </p>
        </div>
    </div>
</main>
<hr />
{% endblock %}
