{% extends "base.html" %} {% block content %}
<main>
    <div class="presentacion">
        <img id="imgPres" src="../media/cultivos.webp" />
        <div class="texPres">
            <p>
                Somos HidroponiKatz una startup Argentina y te contamos que
                estamos trabajando en un futuro para vos. Con todas las
                comodidades que la tecnología te puede otorgar. Los cultivos
                hidropónicos nos permiten cultivar en la ausencia de suelo
                fértil, dando origen a los cultivos urbanos. Si bien la
                hidroponia es una técnica milenaria, viene a revolucionar el
                presente.
            </p>
        </div>
    </div>
    <div class="carrousel">
        <div
            id="carouselExampleSlidesOnly"
            class="carousel slide"
            data-bs-ride="carousel"
        >
            <div class="carousel-inner" style="border-radius: 10px">
                <div class="carousel-item active">
                    <img
                        src="https://cdn0.ecologiaverde.com/es/posts/6/9/2/como_hacer_un_cultivo_hidroponico_casero_1296_orig.jpg"
                        class="d-block w-100"
                        width="528 px"
                        height="298 px"
                        alt="..."
                    />
                </div>
                <div class="carousel-item">
                    <img
                        src="https://drwfxyu78e9uq.cloudfront.net/usercontent/grohoespana/media/images/4122131-23804727_10155545521251348_1118029170_n.jpg"
                        class="d-block w-100"
                        width="528 px"
                        height="298 px"
                        alt="..."
                    />
                </div>
                <div class="carousel-item">
                    <img
                        src="https://cdn.shopk.it/usercontent/grohoespana/media/images/93d4f9a-sistemas-hidroponicos.jpg"
                        class="d-block w-100"
                        alt="..."
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="quees">
        <br />
        <h4>¿QUE ES LA HIDROPONIA?</h4>
        <p>
            La hidroponía es un sistema de cultivo que hace crecer las plantas
            en una solución de agua con nutrientes, es decir, prescinde de la
            tierra. Además, el agua utilizada puede ser recuperada y reciclada,
            y los nutrientes que son una combinación precisa de diferentes tipos
            de sales minerales diluidas en agua, conformando la “solución
            nutritiva”, y reemplazando al abastecimiento nutricional que otorga
            la tierra en el sistema de cultivo convencional. La solución
            nutritiva se aplica directamente a las raíces. El modo de hacerlo
            dependerá del método de cultivo hidropónico que se adopte. Existen
            diversos métodos para este tipo de cultivos, pero todos se ajustan a
            un principio esencial que consiste en el cultivo de plantas sin
            tierra y sin materia orgánica. El sistema de cultivo hidropónico es
            aplicable a cualquier tipo de plantas, tanto para consumo como
            ornamentales, y puede practicarse en espacios grandes o pequeños,
            abiertos, cerrados, en forma horizontal, vertical, escalonada.
        </p>
        <br />
        <h5>Ventajas y desventajas de la hidroponia</h5>

        <h5>Ventajas:</h5>
        <img
            src="../media/planta.png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            Mayor rendimiento: producen entre tres y diez veces más cantidad de
            alimentos que la agricultura convencional en el &nbsp; mismo
            espacio. Además, las plantas crecen en la mitad de tiempo.
        </p>
        <img
            src="../media/planta.png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            No necesita ni herbicidas ni pesticidas: están a salvo de malas
            hierbas e insectos, lo que hace innecesario el uso de estos
            productos.
        </p>
        <img
            src="../media/planta.png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            Menor consumo de agua: consume 20 veces menos agua que la
            agricultura convencional, ya que el agua recircula y se reutiliza.
        </p>
        <img
            src="../media/planta.png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            Menor contaminación: al ser un sistema cerrado, no se produce ni
            contaminación del agua ni del suelo con los residuos de
            fertilizantes o pesticidas.
        </p>
        <img
            src="..//media/planta.png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            Adaptación a condiciones extremas: permite cultivar plantas en
            entornos hostiles, con suelos pobres o meteorología extrema.
        </p>

        <h5>Desventajas:</h5>
        <img
            src="../media/planta (2).png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            El coste inicial de la instalación de los cultivos hidropónicos es
            mayor que el de la agricultura convencional.
        </p>
        <img
            src="../media/planta (2).png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            Los microorganismos, como bacterias y mohos, pueden contaminar el
            agua y producir enfermedades que atacan a las plantas. Además, sin
            la tierra como barrera, dichas enfermedades pueden extenderse
            rápidamente a todo el sistema a través del agua.
        </p>
        <img
            src="../media/planta (2).png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            Es necesario un control y una monitorización constante, tanto de los
            niveles de nutrientes como del riego y la iluminación con el uso de
            sensores y sistemas informáticos que requieren de conocimientos
            técnicos.
        </p>
        <br />

        <h5>Cultivos Hidroponicos y tipos de plantas</h5>
        <img
            src="../media/repollo (3).png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            <strong>Verduras:</strong> judía verde, coliflor, col, apio,
            brócoli, lechuga, guisante, puerro, espinaca.
        </p>
        <img
            src="../media/zanahoria (1).png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            <strong>Hortalizas:</strong> zanahoria, remolacha, pepino,
            berenjena, cebolla, pimiento, rábano, calabacín, tomate.
        </p>
        <img
            src="../media/uva.png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            <strong>Frutas:</strong> melón cantalupo, fresa, frambuesa,
            arándano, uva e, incluso, frutos de árbol como limón o manzana
            empleando árboles enanos.
        </p>
        <img
            src="../media/lavanda (1).png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            <strong>Plantas aromáticas:</strong> albahaca, cilantro, menta,
            tomillo, salvia, estragón, romero.
        </p>
        <br />

        <h5>Consejos para una hidroponia casera</h5>
        <p>
            Tener un pequeño jardín hidropónico en casa es relativamente
            económico y sencillo. En las siguientes líneas ofrecemos algunos
            consejos para montar nuestro propio huerto urbano hidropónico:
        </p>
        <img
            src="../media/idea.png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            Se requiere un contenedor de plástico de unos 30 cm de profundidad y
            una bandeja de 10 cm que encaje sobre él con un agujero de drenaje.
        </p>
        <img
            src="..//media/idea.png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            Se coloca una bomba de acuario en el fondo del contenedor, con el
            tubo de salida colocado para que bombee el agua con nutrientes a la
            bandeja superior.
        </p>
        <img
            src="../media/idea.png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            Las pantas se colocan en pequeños contenedores de plástico sobre un
            sustrato de fibra de coco o lana de roca.
        </p>
        <img
            src="../media/idea.png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            El contenedor se llena de agua con nutrientes, que habrá que
            remplazar cada semana aproximadamente.
        </p>
        <img
            src="../media/idea.png"
            alt=""
            style="float: left; margin-right: 10px"
        />
        <p>
            Toda la instalación se coloca en un lugar soleado o bien bajo
            lámparas de crecimiento.
        </p>
    </div>
</main>
<div id="sistema">
    <img src="../media/sistemas-hidropónicos.jpg" alt="Sistemas Hidropónicos" />
</div>
{% endblock %}
