{% extends 'base_vinoteca.html' %}
{% load static %}
{% block content %}

<main>
    <div class="up">
        <a href="#header">🔼</a>
    </div>

    <section class="primer_sector" id="inicio" v-show="value == 'INICIO'">
        <div class="data">
            <h1>QUIEN SOY?</h1>
            <p>-- intro --</p>
        </div>
        <div class="img">
            <img src="{% static  './imgs/linux.png' %}" alt="linux" class="linux_images" class="img" />
        </div>
    </section>
    <section class="segundo_sector" id="contacto" v-show="value == 'CONTACTO'">
        <div class="bg"></div>
        <div class="data">
            <h1>Por email</h1>
            <h4>anderson.ocana@bue.edu.ar</h4>
            <h2>GITHUB</h2>
            <h4>https://github.com/andru-oca</h4>
        </div>
    </section>

    <section class="tercer_sector" id="habilidades" v-show="value == 'HABILIDADES'">
        <div class="data">
            <h1 v-for="habilidad in habilidades">
                -- habilidad --
            </h1>
        </div>
        <div class="bg2"></div>
    </section>
    <sector-component :value="value"></sector-component>
</main>

{% endblock %}